{% extends 'includes/_base.html' %}

{% block title %}
User Info
{% endblock %}

{% block contents %}
<h1>User Info</h1>
<div class="row">
  <div class="col-12">
    <div class="row">
      <!-- Handle missing profile picture -->
      <div class="col-12 text-center">
        {% if user.pp_filename %}
        <img src="{{ url_for('static', filename='uploads/' + user.pp_filename) }}" alt="User profile picture"
          width="200px" class="rounded-circle" />
        {% else %}
        <img src="https://ui-avatars.com/api/?name={{ user.firstname }}+{{ user.lastname }}&background=random"
          alt="User profile picture" width="200px" class="rounded-circle" />
        {% endif %}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6 text-end">
        <h5>firstname</h5>
      </div>
      <div class="col-6">
        <p>{{ user.firstname }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>Lastname</h5>
      </div>
      <div class="col-6">
        <p>{{ user.lastname }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>Username</h5>
      </div>
      <div class="col-6">
        <p>{{ user.uid }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>
          Email
        </h5>
      </div>
      <div class="col-6">
        <p>{{ user.email }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ url_for('user.user_modify') }}" class="btn btn-primary">Modify</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}