<!DOCTYPE html>
<html>

<head>
  <title>FlaskWeek | Index</title>
</head>

<body>
  <h1>Welcome to the <span style="color: red;">FlaskWeek</span></h1>

  <p>Course materials are available
    <a href="https://github.com/moiap13/nomades_python_programming_langugage/tree/ppl_2025_0809" target="_blank">
      here
    </a>
  </p>
  <p>
    <img width="200px" alt="happy bulldog" title="Happy bulldog"
      src="https://hips.hearstapps.com/hmg-prod/images/view-of-french-bulldog-standing-on-grass-royalty-free-image-1686889382.jpg?crop=0.716xw:1.00xh;0.199xw,0" />
  </p>

</body>

</html>