{% extends 'includes/_base.html' %}

{% block title %}
User Info
{% endblock %}

{#
{% block header_includes %}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
#}

{% block contents %}
<h1>User Info</h1>
<div class="row">
  <div class="col-12">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <img width="200px" alt="user profile picture" src="{{user.pp_filename}}" class="rounded">
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>firstname</h5>
      </div>
      <div class="col-6">
        <p>{{ user["firstname"] }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>Lastname</h5>
      </div>
      <div class="col-6">
        <p>{{ user["lastname"] }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>Username</h5>
      </div>
      <div class="col-6">
        <p>{{ user["uid"] }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>
          Email
        </h5>
      </div>
      <div class="col-6">
        <p>{{ user["email"] }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-end">
        <h5>Age</h5>
      </div>
      <div class="col-6">
        <p>{{ user["age"] }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="{{ url_for('user_modify') }}" class="btn btn-primary w-100">Modify user data</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}