{% extends 'includes/_base.html' %}

{% block title %}
  Register
{% endblock title %}

{% block contents %}
  <form action="" method="POST"> <!-- TODO: Set the action for the register route -->
    <div class="mb-3">
      <label for="tbx_email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="tbx_email" name="tbx_email" >
    </div>
    <div class="mb-3">
      <label for="tbx_pwd" class="form-label">Password</label>
      <input type="password" class="form-control" id="tbx_pwd" name="tbx_pwd" >
    </div>
    <div class="mb-3">
      <label for="tbx_pwd_repeat" class="form-label">Repeat Password</label>
      <input type="password" class="form-control" id="tbx_pwd_repeat" name="tbx_pwd_repeat" >
    </div>
    <button type="submit">Login</button>
  </form>
{% endblock contents %}